<div class="home">
      <div class="hero h-full w-full py-10 bg-bg-secondary">
        <div class="container mx-auto">
          <div class="hero-inner w-full h-full flex items-center justify-between gap-4">
            <div class="content w-1/2 flex flex-col gap-4 max-xl:w-full max-xl:items-center" data-aos="fade-up">
              <h1 class="w-2/3 max-xl:w-full text-4xl font-bold tracking-wider" data-aos="fade-up" data-aos-duration="1000">Find Your Career to Make a Better Life</h1>
              <p class="w-2/3 max-xl:w-full" data-aos="fade-up" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate debitis ea et laboriosam magnam magni natus quis saepe sunt.</p>

              <div class="searching w-4/5 max-xl:w-full h-15 bg-white border border-[#e4e5ec] flex items-center px-10 relative" data-aos="fade-up" data-aos-duration="1250">
                <div class="block relative after:content-[''] after:absolute after:w-[1px] after:h-2/3 after:top-3 after:bg-black">
                  <p>What</p>
                  <input type="text" placeholder="what job do you want?">
                </div>
                <div class="block ml-5">
                  <p>where</p>
                  <input type="text" placeholder="Location">
                </div>
                <button class="absolute right-0 px-10 h-full bg-main text-white tracking-widest text-xl">Search</button>

              </div>
              <div class="popular-links flex items-center gap-4 flex-wrap" data-aos="fade-up" data-aos-duration="1500">
                <p class="text-main">popular keywords: </p>
                <ul class="flex gap-2 items-center">
                  <li>Admin</li>
                  <li>It</li>
                  <li>support</li>
                </ul>
              </div>
            </div>

            <div class="img bg-[url(/home/hero.jpg)] h-200 w-1/2 rounded-bl-[30%] rounded-tr-[30%] max-xl:hidden" data-aos="fade-left" data-aos-duration="1000">
            </div>
          </div>
        </div>
      </div>
</div>
