.hero-inner > .img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.popular-links > ul > li{
  padding: 0 7px;
  color: #999;
  border: 1px solid #e4e5ec;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 2px;
  transition: all ease 0.3s;
}

.popular-links > ul > li:hover{
  background-color: var(--color-main);
  color: #fff;
}
