<header class="dark:bg-dark-bg fixed z-10 h-25 w-full border-b-1 bg-white">
  <div class="container mx-auto">
    <div
      class="header-inner flex h-25 w-full items-center justify-between max-sm:justify-center"
    >
      <div class="logo">
        <span class="bg-main rounded-br-4xl px-4 py-2 text-3xl text-white"
          >Find</span
        >
        <span class="mx-4 text-3xl dark:text-white">A</span>
        <span
          class="rounded-tl-4xl bg-black px-4 py-2 text-3xl text-white dark:bg-white dark:text-black"
          >Job</span
        >
      </div>
      <div class="nav-btns flex items-center gap-10">
        <nav>
          <ul class="flex gap-4 max-md:hidden dark:text-white">
            <li>Home</li>
            <li>About us</li>
            <li>Contact</li>
          </ul>
        </nav>
        <div class="btns flex items-center gap-4 max-sm:hidden">
          <a href="#" class="text-main">Login</a>
          <button class="bg-main h-10 w-30 text-white">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</header>
